body,
h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: 0.4em;
}

body {
	background-color: #3b1c0b;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #3b1c0b;
	padding: 20px;
	text-align: center;
	color: #ffffff;
}

.hamburger {
	margin-left: -20px;
	margin-top: 7px;
}

.temp-toggle {
	height: 40px;
	width: fit-content;
	border: 2px outset #000000;
	padding: 8px;
	position: absolute;
	right: 30px;
	top: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	place-content: center;
	border-radius: 5px;
	color: #ffffff;
	display: none;
}

.logo-container {
	display: inline-block;
}

.logo {
	height: 50px;
	margin-right: 20px;
}

section {
	padding: 40px 20px;
	text-align: center;
}

.welcome {
	background-color: #c08552;
	color: #ffffff;
}

.shop {
	background-color: #f4f1de;
}

.shop .coffee-list {
	list-style: none;
}

.about-us {
	background-color: #c08552;
	color: #ffffff;
}

.contact-us,
.contact-us a {
	color: #ffffff;
}

.add-to-cart-button {
	margin-left: 1em;
}

footer {
	background-color: #3b1c0b;
	padding: 20px;
	text-align: center;
	color: #ffffff;
}

footer.h2 {
	color: #ffffff;
}
