body,
h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: 0.4em;
}

body {
	background-color: #f4f1de;
	font-family: Arial, sans-serif;
}

header {
	background-color: #3b1c0b;
	padding: 20px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.temp-toggle {
	height: 40px;
	width: fit-content;
	border: 2px outset #000000;
	padding: 8px;
	right: 30px;
	top: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	place-content: center;
	border-radius: 5px;
	color: #ffffff;
}

section {
	padding: 40px 20px;
	/* text-align: center; */
	outline: 3px outset #000000;
	margin-bottom: 80px;
	justify-content: center;
	align-items: center;
	display: flex;
}

#colorSquare {
	width: 20em;
	height: 5em;
	background-color: red;
	border: 0.1em solid gray;
	border-radius: 0.75em;
	margin-top: 1em;
}

#theButton {
	height: 70px;
	width: 280px;
	border-radius: 20px;
	font-size: 1.2rem;
	font-weight: 600;
	border: 3px outset #000000;
	padding: 8px;
	cursor: pointer;
}

#theButton:hover {
	transform: scale(1.1);
	transition: all ease 0.5s;
}

#colorSwatch {
	width: 20em;
	height: 5em;
	background-color: red;
	border: 0.1em solid gray;
	border-radius: 0.75em;
	margin-top: 1em;
}
